.top-news-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.top-news-wrap .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-news-wrap .container .title {
    font-weight: 600;
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.news-layout {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.main-news-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-news-wrapper .top-news {
    width: 100%;
    display: flex;
    gap: 30px;
}

.top-news .main-news {
    width: 100%;
}

.main-news .top-news-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.main-news .top-news-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.top-news-card {
    position: relative;
}

.img-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}

.top-news-card .img-wrapper:hover img {
    transform: scale(1);
}

.img-wrapper:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color: #fff; 
    padding: 10px;
    text-align: start;
}

.category {
    margin-bottom: 10px; 
}

.top-news-card .title {
    font-size: 16px;
    font-weight: 500;
    color: #fff !important; 
    margin-top: auto;
    padding-bottom: 2rem;
}

.title{
    margin-top: 1rem;
    padding-left: 10px;
}

.mySwiper {
    width: 100%;
    height: 500px;
}

.main-news .top-news-card .img-wrapper {
    width: 100%;
    overflow: hidden;
}

.main-news .top-news-card .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-news .top-news-card .news-info {
    width: 100%;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.main-news .top-news-card .news-info::-webkit-scrollbar {
    display: none;
}

.main-news .top-news-card .news-info .category {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-news .top-news-card .news-info .description {
    margin-top: 10px;
    font-size: var(--primary-text-size);
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
}

.main-news-wrapper{
    width: 60%;
}

.main-news-wrapper .bottom-news {
    width: 100%;
    padding-top: 20px !important;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    transition: .2s ease;
}

.main-news-wrapper .bottom-news .news-card {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.main-news-wrapper .bottom-news .img-wrapper {
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.main-news-wrapper .bottom-news .img-wrapper img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

.main-news-wrapper .bottom-news .news-info {
    padding: 10px;
    border-top: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main-news-wrapper .bottom-news .news-info::-webkit-scrollbar {
    display: none;
}

.main-news-wrapper .bottom-news .news-info {
    display: flex;
    flex-direction: column;
}

.main-news-wrapper .bottom-news .news-info .category {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.side-news-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.side-news-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.bottom-news .news-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.side-news-card .img-wrapper {
    max-width: 100%;
    height: 250px;
    overflow: hidden;
}

.side-news-card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-news-card .news-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 8px;
}

.side-news-card .news-info a {
    padding-bottom: 10px;
}

.side-news-card .news-info .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news-info .category p {
    color: var(--text-color);
    font-weight: 500;
    font-size: var(--primary-text-size);
    text-transform: capitalize;
    padding: 8px 10px;
    border-radius: 30px;
}

.news-info .category span {
    color: var(--text-lighter);
    font-size: 12px;
    font-weight: 400;
}

.news-info a {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.news-info a:hover {
    color: var(--anchor-hover);
}

.news-info .description {
    margin-top: 10px;
    font-size: var(--primary-text-size);
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
}

@media (max-width: 1120px){
    .main-news-wrapper{
        width: 50%;
    }
    .main-news-wrapper .bottom-news{
        display: none;
    }
    .news-layout{
        display: flex;
    }
    .side-news-card .img-wrapper {
        width: 50%;
        height: 250px;
    }
    .side-news-card .news-info {
        width: 50%;
        height: 250px;
    }
}

@media (max-width: 912px) {
    aside{
        padding: 20px;
    }
    .news-layout{
        flex-direction: column;
    }
    .main-news-wrapper{
        width: 100%;
    }
    .side-news{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .top-news-wrap .title {
        margin-bottom: 20px;
        font-size: 24px !important;
        line-height: 24px;
    }
    .side-news-card .img-wrapper {
        width: 100%;
    }
    .side-news-card .news-info {
        width: 100%;
        height: auto;
    }
    .main-news-wrapper .top-news .main-news {
        flex-direction: column;
        padding: 10px;
    }

    .bottom-news .img-wrapper {
        height: 150px !important;
    }
}

@media (max-width: 640px) {
    .side-news{
        flex-direction: column;
    }
    .main-news-wrapper .bottom-news .news-info {
        height: 100px !important;
    }

    .side-news-card .img-wrapper,
    .bottom-news .img-wrapper {
        height: 240px !important;
    }
}